{% extends 'base.html' %}

{% block content %}

<style>
    table, th, td {
      border:1px solid black;
      
    }
    
</style>

<center>
    <h1>Mystic Eye Card Holder</h1>

    <h3>Name: {{name}}</h3>

    <h3>Class: {{class}}</h3>

    <h3>You have {{ products|length }} card(s) for your journey</h3>
<table>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Element</th>
        <th>Amount</th>
        <th>Power</th>
        <th>Description</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.type}}</td>
            <td>{{product.name}}</td>
            <td>{{product.element}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.power}}</td>
            <td>{{product.description}}</td>
            <td>
                <a href="{% url 'main:increase_card' product.id %}">
                    <button> + </button>
                </a>
            </td>
            <td>
                <a href="{% url 'main:decrease_card' product.id %}">
                    <button> - </button>
                </a>
            </td>
            <td>
                <form action="{% url 'main:delete_card' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<br />

<a href="{% url 'main:add_card' %}">
    <button>
        Add New Card
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>
</center>
{% endblock content %}